$primaryColor: #FFFFFF;
$secFontFamily: 'Maven Pro', sans-serif;

html, body {
    scrollbar-color: #213668 #FBFBFB;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #FBFBFB;
}

::-webkit-scrollbar-thumb {
    background-color: #213668;
    border-radius: 9em;
}

::-webkit-input-placeholder {
    color: #6C78A8;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
}
::-moz-placeholder          {
    color: #6C78A8;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
}
:-moz-placeholder           {
    color: #6C78A8;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
}
:-ms-input-placeholder      {
    color: #6C78A8;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(118.35deg, #002092 13.19%, #0083B8 31.22%, #9EE0C6 49.16%, #0180B6 71.37%, #002A95 110.22%) no-repeat;
    padding-bottom: 130px;
}

.container {
    max-width: 1243px;
    margin: 0 auto;
    padding: 60px 5px 50px;
}

.back {
    text-decoration: none;
    display: flex;
    &__img {
        margin-right: 8px;
        width: 24px;
        height: 24px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        &-svg {
            display: flex;
            height: 24px;
            margin: auto;
        }
    }
    &__text {
        display: inline-block;
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        color: $primaryColor;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
}

.main {
    padding-bottom: 40px;
    &__head {
        padding: 60px 5px 25px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        &-h2 {
            max-width: 511px;
            font-family: $secFontFamily;
            font-weight: 900;
            font-size: 26px;
            line-height: 36px;
            text-shadow: 0px 2px 4px rgba(0, 63, 157, 0.6);
            text-transform: uppercase;
            color: $primaryColor;
        }
        &-date {
            display: flex;
            align-items: flex-end;
            padding-bottom: 10px;
            &--text {
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                padding-left: 8px;
                text-transform: capitalize;
                color: $primaryColor;
            }
        }
    }

    &-content {
        display: flex;
        justify-content: space-between;
        &__article {
            background-color: #FBFBFB;
            width: 70%;
            &-img {
                margin-top: -10px;
                width: 100%;
                height: 215px;
                border-radius: 10px 10px 130px 0;
                background: url('../images/Group\ 28.svg') no-repeat center center #213668;
            }
            &-head {
                padding: 25px 32px;
                border-bottom: 1px solid #F1F1F1;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-transform: capitalize;
                color: #2463A0;
            }
            &-space {
                width: 100%;
                height: 36px;
                background-color: #FBFBFB;
            }
            &-text {
                width: 90%;
                overflow: auto;
                height: 490px;
                padding: 0 32px 83px;
            }
            &-main {
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                padding-bottom: 65px;
                color: #3C3C3C;
                &:last-child {
                    padding-bottom: 0;
                }
            }
            &-h3 {
                text-transform: uppercase;
                color: #3EACB3;
                font-weight: bold;
            }
            &-a {
                display: inline-block;
                width: 100%;
                height: 78px;
                background: url('../images/Vector.svg') no-repeat 50% 40% #F1F1F1;
                margin-bottom: -10px;
                border-radius: 0 0 10px 10px;
            }
        }
        &__aside {
            width: 27%;
            background-color: $primaryColor;
            border-radius: 10px;
            margin-top: -10px;
            &-h2 {
                font-family: $secFontFamily;
                font-weight: 900;
                font-size: 26px;
                line-height: 36px;
                text-transform: uppercase;
                color: #3C3C3C;
                padding: 37px 18px 28px;
            }
            &-h3 {
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                text-transform: uppercase;
                color: #3EACB3;
                padding: 0 16px 30px    ;
            }
            &-img {
                width: 253px;
                margin: 0 auto;
                border-radius: 5px;
                height: 345px;
                background: url('../images/book.svg') no-repeat 50% 20% ;
                -webkit-box-shadow: -7px 7px 18px 7px rgba(228,226,252,0.53);
                -moz-box-shadow: -7px 7px 18px 7px rgba(228,226,252,0.53);
                box-shadow: -7px 7px 18px 7px rgba(228,226,252,0.53);
            }
            &-h4 {
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                text-transform: uppercase;
                color: #2463A0;
                padding: 50px 16px 27px;
            }
            &-container {
                width: 95%;
                height: 303px;
                overflow: auto;
            }
            &-block {
                padding-bottom: 45px;    
                &-date {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #5C5C5C;
                    border-bottom: 1px solid #F1F1F1;
                    padding: 0 16px 8px;
                    text-align: right;

                } 
                &-name {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #3C3C3C;
                    padding: 8px 16px 0;
                }
            }
            &-space {
                width: 100%;
                height: 36px;
                background-color: $primaryColor;
            }
            &-bottom {
                width: 100%;
                height: 78px;
                background: #F1F1F1;
                margin-bottom: -10px;
                border-radius: 0 0 10px 10px; 
            }
        }
    }
}

.news {
    padding: 40px 0 0;
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-bottom: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background: #F1F1F1;
        &--s {
            width: 45%;
        }
        &--m {
            width: 52%;
        }
        &--first {
            background: $primaryColor;
        }
        &-header {
            min-height: 60%;
            padding: 15px 35px 10px;
            background: $primaryColor;
            border-radius: 10px 10px 101.5px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &--dark {
                background: url('../images/illustration.svg') no-repeat 90% 50% #213668;
            }
            &-date {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-transform: capitalize;
                color: #5C5C5C;
                &--white {
                    color: $primaryColor;
                }
            }
            &-h2 {
                font-family: $secFontFamily;
                width: 90%;
                padding: 19px 0 0;
                font-weight: 900;
                font-size: 26px;
                line-height: 36px;
                text-transform: uppercase;
                color: #3C3C3C;
                &--white {
                    color: $primaryColor;
                }
                &--m {
                    width: 70%; 
                }
            }
            &-a {
                display: inline-block;
                font-weight: normal;
                font-size: 8px;
                line-height: 24px;
                text-decoration: none;
                width: 80px;
                height: 24px;
                text-align: center;
                color: #9D9C9C;
                border: 0.5px solid #9D9C9C;
                border-radius: 4px;
                margin: 0 2px;
                &--first {
                    border: 0.5px solid #F1F1F1;
                    color: #F1F1F1; 
                }
            }
        }
        &-main {
            padding: 16px 32px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-text {
                display: block;
                height: 65px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 55%;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-transform: capitalize;
                color: #3C3C3C;
            }
            &-a {
                text-decoration: none;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-transform: capitalize;
                color: #008ECC;
                &--first {
                    display: inline-block;
                    width: 128px;
                    height: 40px;
                    background: #FA8276;
                    border-radius: 4px;
                    color: $primaryColor;
                    text-align: center;
                    line-height: 40px;
                }
            }
        }
    }
}

.form {
    &-container {
        -webkit-box-shadow: -11px 11px 104px 3px rgba(112,111,112,1);
        -moz-box-shadow: -11px 11px 104px 3px rgba(112,111,112,1);
        box-shadow: -11px 11px 104px 3px rgba(112,111,112,1);
        max-width: 1360px;
        margin: 0 auto;
        display: flex;
    }
    &-image {
        width: 50%;
        border-radius: 10px 0px 0px 10px;
        background: url('../images/free-book-cover.png') no-repeat center center / 549px 532px #F7F7F7;
    }
    &-content {
        background: linear-gradient(179.35deg, #004BA2 -0.94%, #031634 112.54%);
        border-radius: 0px 10px 10px 0px;
        padding: 80px;
        box-sizing: border-box;
        width: 50%;
        display: flex;
        flex-direction: column;
        &__input {
            outline: none;
            border: none;
            border-bottom: 1px solid #FFFFFF;
            padding: 0 5px 0 35px;
            margin: 0 auto 10px;
            width: 70%;
            box-sizing: border-box;
            background: transparent;
            font-weight: normal;
            font-size: 18px;
            line-height: 36px;
            color: #FFFFFF;
            &:nth-child(1) {
                background: url('../images/Group\ copy\ 2.svg') no-repeat 3% 50% transparent;
            }
            &:nth-child(3) {
                background: url('../images/Group\ copy.svg') no-repeat 3% 50% transparent;
            }
            &:nth-child(5) {
                background: url('../images/Vector\ copy.svg') no-repeat 3% 50% transparent;
            }
            &:nth-child(7) {
                background: url('../images/Group.svg') no-repeat 3% 50% transparent;
            }
            &--error {
                border-bottom: 1px solid #FA8276;
            }
        }
        &__input--checked{
            &:nth-child(1) {
                background: url('../images/Group\ copy\ 2.svg') no-repeat 3% 50%,
                            url('../images/check.svg') no-repeat 97% 50%;
            }
            &:nth-child(3) {
                background: url('../images/Group\ copy.svg') no-repeat 3% 50%,
                            url('../images/check.svg') no-repeat 97% 50%;
            }
            &:nth-child(5) {
                background: url('../images/Vector\ copy.svg') no-repeat 3% 50%,
                            url('../images/check.svg') no-repeat 97% 50%;
            }
            &:nth-child(7) {
                background: url('../images/Group.svg') no-repeat 3% 50%,
                            url('../images/check.svg') no-repeat 97% 50%;
            }
        }
        &__label {
            display: flex;
            width: 70%;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $primaryColor;
            margin: 0 auto;
            cursor: pointer;
            vertical-align: middle;
        }
        &__error {
            position: relative;
            box-sizing: border-box;
            width: 70%;
            margin: 0 auto;
            padding-left: 25px;
            margin-bottom: 30px;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #FA8276;
            background: url('../images/ic\ error.svg') no-repeat 0 50%;
            visibility: hidden;
            &--last {
                margin: 5px auto;
                border-top: 1px solid #FA8276;
                padding-top: 10px;
                background: url('../images/ic\ error.svg') no-repeat 0 80%;
            }
            &-sign {
                position: absolute;
                top: -36px;
                right: 10px;
            }

        }
        &__button {
            display: inline-block;
            cursor: pointer;
            border: none;
            margin: 8px auto 0;
            width: 70%;
            height: 61px;
            background: #00B3FF;
            border-radius: 4px;
            font-family: $secFontFamily;
            font-weight: 900;
            font-size: 18px;
            line-height: 61px;
            text-align: center;
            text-transform: uppercase;
            color: $primaryColor;
        }
    }
}

input[type="checkbox"] {
    display: none;
}
 
label:before {
    content: "";
    color: $primaryColor;
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right: 10px;
    position: relative;
    background: transparent;
    border: 1px solid #8798D9;
    border-radius: 2px;
    vertical-align: middle;
}
 
input:checked + label:before {
    content: "";
    background: url('../images/check.svg') no-repeat center center transparent;
}


  